{% assign category_order = 'DevLog,Algorithm,Frontend1,Frontend2,Frontend3,Backend_infra,WebSecurity,TechMisc,BookReport' | split: ',' %}
{% assign category_names = 'DevLog:🧠 1.개발일지 & 생각,Algorithm:🔢 2.알고리즘,Frontend1:🌐 3.FE 초급,Frontend2:🌐 4.FE 중급,Frontend3:🌐 5.FE 고급,Backend_infra:🛠️ 6.백엔드 & 서버,WebSecurity:🔐 7.보안,TechMisc:🧰 8.기타 기술 & 툴,BookReport:📚 9.독서 기록' | split: ',' %}

{% for category_key in category_order %}
  {% for tag in site.categories %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    {% if tag_name == category_key %}
      {% assign posts = tag[1] %}
      {% assign post_count = posts | size %}
      {% if post_count > 0 %}
        {% for name_pair in category_names %}
          {% assign name_parts = name_pair | split: ':' %}
          {% if name_parts[0] == category_key %}
            <li class="tag-head">
                <a href="{{ site.baseurl }}/blog/categories/{{ tag_name }}" id="{{ tag_name | slugify }}" name="{{ tag_name | slugify }}">
                    {{ name_parts[1] }} ({{ post_count }})
                </a>
            </li>
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

<!--{% for tag in site.categories %} {% capture tag_name %}{{ tag | first }}{% endcapture %}-->
<!--{% assign post_count = posts | size %}-->
<!--<div id="#{{ tag_name | slugize }}"></div>-->
<!--<li class="tag-head">-->
<!--    <a href="{{ site.baseurl }}/blog/categories/{{ tag_name }}">{{ tag_name }} </a>-->
<!--</li>-->
<!--<a name="{{ tag_name | slugize }}"></a>-->
<!--{% endfor %}-->