<style>
/* change cover_img in config.yml */
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <p class="jumbotron-heading">유재석입니다.</p>
  <p class="lead" id="typewriteText"></p>
  <span>
    {%- include github_fork_button.html -%}
  </span>
</div>
<div style="margin-left: 50%;">
  <a href="https://hits.seeyoufarm.com">
    <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fyoo94.github.io&amp;count_bg=%2379C83D&amp;title_bg=%23555555&amp;icon=&amp;icon_color=%23E7E7E7&amp;title=visitor&amp;edge_flat=false">
  </a>
</div>
<img style="
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;"
    src="https://ghchart.rshah.org/yoo94">
