<style>
/* change cover_img in config.yml */
.jumbotron {
    background-color: var(--main-background-color) !important;
    /*background-image: url('/assets/img/{{site.hero_cover_img}}');*/
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
<!--  <p class="jumbotron-heading">유재석입니다.</p>-->
<!--  <p class="lead" id="typewriteText"></p>-->
<!--  <span>-->
<!--    {%- include github_star_button.html -%}-->
<!--    {%- include github_fork_button.html -%}-->
<!--    {%- include visitor_button.html -%}-->
<!--  </span>-->
</div>
<!--<div style="margin-left: 22%;">-->

<!--  <div style="display: flex; flex-wrap: wrap; gap: 10px;">-->
<!--    <img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=HTML5&logoColor=white">-->
<!--    <img src="https://img.shields.io/badge/css3-1572B6?style=for-the-badge&logo=css3&logoColor=white">-->
<!--    <img src="https://img.shields.io/badge/javascript-F7DF1E?style=for-the-badge&logo=javaScript&logoColor=white">-->
<!--    <img src="https://img.shields.io/badge/jquery-0769AD?style=for-the-badge&logo=javaScript&logoColor=white">-->
<!--    <img src="https://img.shields.io/badge/react-61DAFB?style=for-the-badge&logo=react&logoColor=white">-->
<!--    <img src="https://img.shields.io/badge/typescript-3178C6?style=for-the-badge&logo=typeScript&logoColor=white">-->
<!--    <img src="https://img.shields.io/badge/redux-764ABC?style=for-the-badge&logo=redux&logoColor=white">-->
<!--  </div>-->


<!--  <div style="display: flex; flex-wrap: wrap; gap: 10px;">-->
<!--    <img src="https://img.shields.io/badge/spring-6DB33F?style=for-the-badge&logo=spring&logoColor=white">-->
<!--    <img src="https://img.shields.io/badge/nodejs-5FA04E?style=for-the-badge&logo=nodejs&logoColor=white">-->
<!--    <img src="https://img.shields.io/badge/nodemon-76D04B?style=for-the-badge&logo=nodemon&logoColor=white">-->
<!--    <img src="https://img.shields.io/badge/express-000000?style=for-the-badge&logo=express&logoColor=white">-->
<!--  </div>-->
<!--</div>-->
