---
layout: full-width
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
    <div>
        <a href="https://hits.seeyoufarm.com">
            <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fyoo94.github.io&amp;count_bg=%2379C83D&amp;title_bg=%23555555&amp;icon=&amp;icon_color=%23E7E7E7&amp;title=visitor&amp;edge_flat=false">
        </a>
    </div>
    <div class="col-lg-8 offset-md-2">
      {%- include recent_articles.html -%}
    </div>
