---
layout: default
---

<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="card">
        <div class="card-header">
          <h1 class="guestBook-title" itemprop="name headline">&#1F4BB; 프로젝트</h1>
          <h4 class="post-meta">자유롭게 &#128204;방명록을 작성해주시면 감사하겠습니다!</h4>
          <div class="row" style="justify-content: center !important;">
              <script src="https://utteranc.es/client.js"
                      repo="yoo94/yoo94.github.io"
                      issue-term="pathname"
                      theme="github-light"
                      crossorigin="anonymous"
                      async>
              </script>
          </div>
      </div>
    </div>
  </div>
</div>